{% extends "PoolBundle::pool-layout.html.twig" %}

{% block title "Digmore : Pools" %}

{% block content_header '' %}

{% block pool_content %}
    <h1 class="title">Digmore &gt;&gt; Pools</h1>
{% endblock %}
