{% extends 'MainBundle::layout.html.twig' %}

{% block title_section %} | Home{% endblock %}

{% block content %}
    <h1 class="title">Home</h1>

    <div class="digmore-blocks-home">
        // TODO: home content
    </div>
{% endblock %}
