{% extends 'MainBundle::layout.html.twig' %}

{% block title %}Digmore index{% endblock %}

{% block content %}
    <h1 class="title">Digmore &gt;&gt; home</h1>

    <div class="digmore-blocks-home">
    </div>
{% endblock %}
