{% extends "MinerBundle::miner-layout.html.twig" %}

{% block miner_content %}
    <h1>{{ miners|length }} miners.</h1>
    {% if miners is defined %}
        <h1>{{ miners|length }} miners.</h1>
        {% if miners|length %}
            {% for miner in miners %}
                {{ include('MinerBundle:Miner:miner-block.html.twig', { 'miner': miner }) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
